@import 'tailwindcss';

@theme {
  --font-heading: 'Gambetta', sans-serif;
  --font-display: 'Switzer', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
  --color-sm-black: #121215;
  --color-sm-blue: #008cff;
}
