PORT=3002

POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USER=minecraft
POSTGRES_PASSWORD=password
POSTGRES_DB=postgres

SMESSENTIAL_API_URL=http://127.0.0.1:25580
SMESSENTIAL_API_SECRET=smessential-secret-key
